.header {
  background-color: #002140;
  display: flex;
  flex-direction: row;
  padding: 0;
}
.logo {
  width: 60px;
  flex: none;
  padding-left: 10px;
}
.logo img {
  width: 45px;
}
.title {
  padding-left: 10px;
  color: #ffffff;
  font-size: 14px;
  flex: auto;
}
